body{
    margin: 0;
}
body::after {
    background: url(../assets/sunset4.jpeg);
    content: "";
    opacity: 0.9;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left:0 ;
    z-index: -1;  
  }
.container{
    width: 80%;
    margin: 0 auto;
}
header{
    background:#E6EBE0;
    padding: 10px 0;
}
header::after{
    content: '';
    display: table;
    clear: both ;
}
nav{
    float: right;
  
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
display: inline-block;
margin-left: 70px ;
padding-top: 20px;
font-size: 20px;
}
a{
    color: #07393C;
}
h1{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 25px;
    text-align: center; 
    font-family: 'Cinzel', serif;
    font-size: 60px;
    top: 30%;
    font-weight: 900;
}
h2{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 25px;
    text-align: center; 
    font-family: 'Cinzel', serif;
    font-size: 40px;
    top: 400px;
}
#status{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 25px;
    text-align: center; 
    font-family: 'Cinzel', serif;
    font-size: 30px;
    top: 450px;
}
#hits{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 25px;
    text-align: center; 
    font-family: 'Cinzel', serif;
    font-size: 30px;
    top: 500px;
}